# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# indentation
[*.*]
indent_style = space
indent_size = 3

# 'this.' qualification
[*.cs]
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_event = true:suggestion